<!DOCTYPE html>
<html th:replace="~{paneles/panel-base :: html}">
<head>
    <title>Panel Cajero</title>
</head>
<body>
    <div th:replace="~{paneles/panel-base :: navbar}"></div>
    
    <div th:fragment="contenido" class="content-wrapper">
        <h1>Panel Cajero</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="stat-card">
                    <h3>Nueva Venta</h3>
                    <a href="/cajera/venta" class="btn btn-success">Iniciar Venta</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="stat-card">
                    <h3>Cierre de Caja</h3>
                    <a href="/cajera/cierre" class="btn btn-warning">Cerrar Caja</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>